*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;

}

/* LEXEND font class for a variable style

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

h1,
h2 {
  font-weight: 400;
}

body {
  background-color: #F4F7F7;
  color: 235558;
  padding: 10px;
}

.question {
  color: #235558;
  font-weight: bold;
}

legend {
  font-weight: bold;
  color: #8DC8A1;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid #235558;
  border-radius: 15px;
  padding: 10px;
  margin: 10px 0;
}

input[type="radio"] {
  display: none;
}

.btn {
  display: inline-block;
  background-color: #BFF6D4;
  padding: 10px 20px;
  border-radius: 25px;
  border: #6FB686 solid 2px;
  cursor: pointer;
}

.btn:hover {
  background-color: #b2daff;
  border: #004280 solid 2px;
  box-shadow: #235558 0px 0px 10px;

}

input[type="radio"]:checked+label {
  background-color: ;
  color: ;
  border-color: ;
}




button.btn {}