*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-weight: 300;

}

h1,
h2 {
  font-weight: 400;
}

.skip-link {
  text-decoration: none;
  color: black;
}

header {
  background: #E7F1F1;
}

ul {
  display: flex;
}

li a {
  text-decoration: none;
  color: black;
  padding: 10px;

}

footer {
  background: #E7F1F1;
  position: absolute;
  border: 2px solid black;
}

/* LEXEND font class for a variable style

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */