*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #F4F7F7;
  color: #235558;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin-bottom: 1rem;
  padding: 10px;
}

p {
  max-width: 40%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
}

.skip-link {
  position: absolute;
  top: -50px;
  right: 0;
  text-decoration: none;
  padding: 10px;
  background: #235558;
  color: white;
  cursor: pointer;
  z-index: 100;
  transition: top 0.3s;
}

.skip-link:focus {
  top: 0;
  outline-offset: 2px;
}

#header {
  background: #E7F1F1;
  padding-bottom: 10px;
  /* padding: 10px; */
}

.nav-list {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #235558;
  padding: 10px;
}

a:hover {
  background-color: #CCE3E4;
  /* color: ; */
  /* text-decoration: underline; */
}

#introduction {
  /* background-color: #A5C97B; */
  /* margin: 72px 27px 68px 27px; */
  /* one can add this in the media query*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  /* color: #262626; */
}

.text-container {
  position: absolute;
  width: 100%;
  /* #E7F1F1 */
  padding: 1rem;
}

.img-container {
  position: relative;
  background-color: #E9F1F1;
  background: -webkit-linear-gradient(#CCE3E4cc, #F5F7F7cc);
  top: 0;
  z-index: -1;
  width: 100%;
  height: 37vh;
  overflow: hidden;
}

.decorative-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.3;

}


/* #introduction h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
} */

/* #introduction p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
} */

#about {
  /* background-color: #A5C97B; */
  /* padding: 72px 27px 68px 27px; */
  text-align: center;
  /* color: #262626; */
  margin: 1rem auto;
  /* min-height: 90vh; */
}

.navigation-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 4rem;
}

.descriptive-img {
  max-width: 100%;
  height: 100%;
  margin-top: 2rem;
}

/* #about h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1rem;
} */

/* #about p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
} */

/*quiz styling*/

#quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  height: 50vh;
}

legend {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #235558;
  background-color: #BFF6D4;
  padding: 10px;
  border: 2px solid #bababa;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.question {
  display: none;
  color: #235558;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 15px; */
  border: 2px solid #bababa;
  border-radius: 15px;
  width: auto;
  padding: 5px;
  margin: 5px;
  /*improve margin and padding when on media querry*/
}

.answer-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="radio"] {
  appearance: none;
}

.abc-index {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #F4F7F7;
  border: #6FB686 solid 2px;
  box-sizing: border-box;
}

.submit-btn {
  align-self: flex-end;
  margin-top: 1rem;
}

label.btn,
button.submit-btn,
#start-button,
.continue-btn {
  display: inline-block;
  color: #235558;
  font-size: 16px;
  background-color: #BFF6D4;
  padding: 10px 10px;
  border-radius: 25px;
  border: #6FB686 solid 2px;
  cursor: pointer;
}

label.btn:hover,
button.submit-btn:hover,
#start-button:hover,
.continue-btn:hover {
  background-color: #b2daff;
  border: #004280 solid 2px;
  box-shadow: #235558 0px 0px 10px;
}

/* style buttons when in focus */
button.submit-btn:focus,
#start-button:focus,
.continue-btn:focus {
  outline: 2px solid #235558;
  outline-offset: 5px;
}


input[type="radio"]:checked+label {
  background-color: #00ff62;
  border-color: #00ff62;
}

/* style label when radio button is in focus */
input[type="radio"]:focus+label {
  outline: 2px solid #235558;
  outline-offset: 5px;
}


.submit-btn {
  align-self: flex-end;
}


footer {
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: auto;
  background: #E7F1F1;
  height: 50px;
  width: 100%;
}


.error {
  color: red;
  font-size: 16px;
}

.message-container {
  display: none;
  color: #235558;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  border: 2px solid #bababa;
  border-radius: 15px;
  width: auto;
  max-width: 500px;
  padding: 20px;
  margin: 10px 0;
}

.results-container {
  display: none;
  color: #235558;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid #bababa;
  border-radius: 15px;
  width: auto;
  max-width: 500px;
  padding: 50px;
  margin: 10px 0;
}

.results-container p {
  font-size: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 
- fix the shadows on answer btn when hoovering 
- maybe other colors idk 
- fix the font size of the question?
- fix the font size of the submit button
- fix legend size and centering
*/


/* LEXEND font class for a variable style

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.lexend-<uniquifier> {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */